<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>
    <%= appName %> | Page non trouvée
  </title>

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="<%= appDescription %>" name="description" />

  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/templates/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/templates/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/templates/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/templates/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/templates/assets/favicon/safari-pinned-tab.svg" color="#6366f1">
  <link rel="shortcut icon" href="/templates/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#080032">
  <meta name="msapplication-config" content="/templates/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor Styles -->
  <link rel="stylesheet" media="screen" href="/templates/assets/vendor/boxicons/css/boxicons.min.css" />

  <!-- Main Theme Styles + Bootstrap -->
  <link rel="stylesheet" media="screen" href="/templates/assets/css/theme.min.css">

  <!-- Page loading styles -->
  <style>
    .page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .4s .2s ease-in-out;
      transition: all .4s .2s ease-in-out;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }

    .dark-mode .page-loading {
      background-color: #0b0f19;
    }

    .page-loading.active {
      opacity: 1;
      visibility: visible;
    }

    .page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }

    .page-loading.active>.page-loading-inner {
      opacity: 1;
    }

    .page-loading-inner>span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #9397ad;
    }

    .dark-mode .page-loading-inner>span {
      color: #fff;
      opacity: .6;
    }

    .page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: .75rem;
      vertical-align: text-bottom;
      border: .15em solid #b4b7c9;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner .75s linear infinite;
      animation: spinner .75s linear infinite;
    }

    .dark-mode .page-spinner {
      border-color: rgba(255, 255, 255, .4);
      border-right-color: transparent;
    }

    @-webkit-keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  </style>

  <!-- Theme mode -->
  <script>
    let mode = window.localStorage.getItem('mode'),
      root = document.getElementsByTagName('html')[0];
    if (mode !== null && mode === 'dark') {
      root.classList.add('dark-mode');
    } else {
      root.classList.remove('dark-mode');
    }
  </script>

  <!-- Page loading scripts -->
  <script>
    (function () {
      window.onload = function () {
        const preloader = document.querySelector('.page-loading');
        preloader.classList.remove('active');
        setTimeout(function () {
          preloader.remove();
        }, 1000);
      };
    })();
  </script>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>
</head>


<!-- Body -->

<body>

  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>

  <!-- Page loading spinner -->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span>Loading...</span>
    </div>
  </div>


  <!-- Page wrapper for sticky footer -->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <main class="page-wrapper">

    <!-- BG light version -->
    <div
      class="d-dark-mode-none position-absolute top-0 start-0 w-100 h-100 bg-repeat-0 bg-position-center bg-size-cover"
      style="background-image: url(/templates/assets/img/404/light/bg.jpg);"></div>

    <!-- BG dark version -->
    <div
      class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100 bg-repeat-0 bg-position-center bg-size-cover"
      style="background-image: url(/templates/assets/img/404/dark/bg.jpg);"></div>


    <!-- Navbar -->
    <!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->
    <header class="header navbar navbar-expand-lg fixed-top">
      <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
          <img src="/templates/assets/img/logo.svg" width="47" alt="Silicon">
          <%= appName %>
        </a>
        <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
          <input type="checkbox" class="form-check-input" id="theme-mode">
          <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
          <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
        </div>
      </div>
    </header>


    <!-- Page content -->
    <section class="container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5">
      <div class="text-center pt-5 pb-3 mt-auto">

        <!-- Parallax gfx (Light version) -->
        <div class="parallax mx-auto d-dark-mode-none" style="max-width: 574px;">
          <div class="parallax-layer" data-depth="-0.15">
            <img src="/templates/assets/img/404/light/layer01.png" alt="Layer">
          </div>
          <div class="parallax-layer" data-depth="0.12">
            <img src="/templates/assets/img/404/light/layer02.png" alt="Layer">
          </div>
          <div class="parallax-layer zindex-5" data-depth="-0.12">
            <img src="/templates/assets/img/404/light/layer03.png" alt="Layer">
          </div>
        </div>

        <!-- Parallax gfx (Dark version) -->
        <div class="parallax mx-auto d-none d-dark-mode-block" style="max-width: 574px;">
          <div class="parallax-layer" data-depth="-0.15">
            <img src="/templates/assets/img/404/dark/layer01.png" alt="Layer">
          </div>
          <div class="parallax-layer" data-depth="0.12">
            <img src="/templates/assets/img/404/dark/layer02.png" alt="Layer">
          </div>
          <div class="parallax-layer zindex-5" data-depth="-0.12">
            <img src="/templates/assets/img/404/dark/layer03.png" alt="Layer">
          </div>
        </div>

        <h1 class="visually-hidden">404</h1>
        <h2 class="display-5">Ooops!</h2>
        <p class="fs-xl pb-3 pb-md-0 mb-md-5">
          La page que vous recherchez n'est pas disponible.
        </p>
        <a href="/" class="btn btn-lg btn-primary shadow-primary w-sm-auto w-100">
          <i class="bx bx-home-alt me-2 ms-n1 lead"></i>
          Retourner à l'accueil
        </a>
      </div>

      <div class="text-center py-lg-5 py-4 mt-auto">
        <p class="nav d-block fs-sm pt-3 pt-lg-0 mb-0">
          <span>
            2023 -
            <script>document.write(new Date().getFullYear())</script> © <%= appName %> - <%= appVersion %>
          </span>
        </p>
      </div>
    </section>
  </main>

  <!-- Vendor Scripts -->
  <script src="/templates/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/templates/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="/templates/assets/vendor/parallax-js/dist/parallax.min.js"></script>

  <!-- Main Theme Script -->
  <script src="/templates/assets/js/theme.min.js"></script>
</body>

<!-- Mirrored from silicon.createx.studio/404-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Aug 2022 19:42:24 GMT -->

</html>