<% extend('../base_admin') %>

<% if (!locals.messages) { %>
  <div class="alert alert-danger" role="alert">
    Une erreur s'est produite lors de la récupération des messages.
  </div>
<% } else if (locals.messages && messages.length == 0) { %>
  <div class="alert alert-warning" role="alert">
    Aucun message n'a été trouvé.
  </div>
<% } else { %>
  <!-- Light table with hoverable rows -->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Code</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Statut</th>
          <th>Détails</th>
        </tr>
        </thead>
        <tbody>
          <% for (m of messages) { %>
            <tr>
              <th scope="row">
                <%= messages.indexOf(m) + 1 %>
              </th>
              <td>
                <%= m.code %>
              </td>
              <td>
                <%= m.name %>
              </td>
              <td>
                <%= m.email %>
              </td>
              <td>
                <% if (m.readerId) { %>
                  <span class="badge bg-primary">Déja lu</span>
                <% } else { %>
                  <span class="badge bg-warning">Non lu</span>
                <% } %>
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bs-toggle="modal"
                data-bs-target="#details_<%= m.code %>">
                  <i class="bx bxs-detail fs-4"></i>
                </button>
                <%- include('../components/details_message') %>
              </td>
            </tr>
          <% } %> 
        </tbody>
    </table>
  </div>
<% } %>