<div class="modal fade" id="details_<%=s.code %>" tabindex="-" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Soumission No : <%= s.code %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <!-- Light table with hoverable rows -->
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Code</th>
                  <td><%= s.code %></td>
                </tr>
                <tr>
                  <th>Auteur</th>
                  <td><%= s.name %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= s.email %></td>
                </tr>
                <tr>
                  <th>Telephone</th>
                  <td><%= s.phone %></td>
                </tr>
                <tr>
                  <th>Titre</th>
                  <td><%= s.title %></td>
                </tr>
                </tr>
                  <th>Reçu le</th>
                  <td><%= moment(s.createdAt).format('DD/MM/YYYY') %></td>
                </tr>
                <tr>
                  <th>Statut</th>
                  <td>
                    <% if (s.viewerId) { %>
                      <span class="badge bg-primary">Déja vu</span>
                      par 
                      <b>
                        <%= s.viewer.lastname.toUpperCase() %> <%= s.viewer.firstname.toUpperCase() %>
                      </b>
                    <% } else { %>
                      <span class="badge bg-warning">Non vu</span>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th>Document</th>
                  <td>
                    <a href="<%= s.fileUrl %>" target="_blank">
                      <i class="bx bxs-file-pdf"></i>
                      <%= s.file %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Resumé</th>
                  <td>
                    <%= s.summary %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="modal-footer">
          <% if (!s.readerId) { %>
            <a class="btn btn-secondary btn-sm" href="<%= routedebase %>/submission_management/view_submission/<%= s.id %>">
              <i class="bx bxs-check-circle"></i>
              Marquer comme vu
            </a>
          <% } %>
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
            Fermer
          </button>
        </div>
      </div>
    </div>
  </div>