<% extend('../base_admin') %>

  <!-- Basic info -->
  <h2 class="h5 text-primary mb-4">
    Informations de base
  </h2>
  <form class="needs-validation border-bottom pb-3 pb-lg-4"
    novalidate>

    <% if (locals.error) { %>
      <div class="alert alert-danger">
        <strong>Erreur!</strong> <%= locals.error %>
      </div>
    <% } %>

    <div class="row pb-2">
      <div class="col-sm-6 mb-4">
        <label for="fn" class="form-label fs-base">
          Nom
        </label>
        <input type="text" id="fn" class="form-control form-control-lg"
          name="firstname"
          value="<% if (locals.rbody) { %><%= rbody.firstname %><% } else { %><%= user_connected.firstname %><% } %>"
          disabled>
        <div class="invalid-feedback">
          S'il vous plaît entrez votre nom!
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="sn" class="form-label fs-base">
          Prénom
        </label>
        <input type="text" id="sn" class="form-control form-control-lg"
          name="lastname"
          value="<% if (locals.rbody) { %><%= rbody.firstname %><% } else { %><%= user_connected.lastname %><% } %>"
          disabled>
        <div class="invalid-feedback">
          S'il vous plaît entrez votre prénom!
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="phone" class="form-label fs-base">
          Numéro de téléphone <small class="text-muted">(10 chiffres)</small>
        </label>
        <input type="number" id="phone" class="form-control form-control-lg"
          name="phone"
          minlength="10"
          maxlength="10"
          value="<% if (locals.rbody) { %><%= rbody.phone %><% } else { %><%= user_connected.phone %><% } %>"
          disabled>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="email" class="form-label fs-base">
          Adresse email <small class="text-muted">(optionnelle)</small>
        </label>
        <input type="email" id="email" class="form-control form-control-lg" disabled
          value="<% if (locals.rbody) { %><%= rbody.email %><% } else { %><%= user_connected.email %><% } %>">
        <div class="invalid-feedback">
          S'il vous plaît entrez votre adresse email!
        </div>
      </div>
    </div>
  </form>